<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>

<form action="/forms">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
<div style='border: 3px dashed red'>
  <img src='https://www.dogtime.com/assets/uploads/2011/01/file_23206_schnoodle-460x290.jpg'>
</div>
